asgiref==3.8.1
autopep8==2.3.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.6.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.7
iniconfig==2.0.0
numpy==1.26.4
packaging==24.1
pluggy==1.5.0
pycodestyle==2.12.1
pydub==0.25.1
pytest==8.3.2
requests==2.31.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.1
mock
matplotlib
pyTelegramBotAPI
tabulate
python-telegram-bot-calendar
jproperties
flake8
fpdf
coverage
pytest-mock
flask
